<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activity.server.mapper.ApplyRoomMapper">

    <insert id="addOne" parameterType="applyRoom">
        insert into apply_room(account)
        values(#{applyRoom.account});
    </insert>

    <update id="updateCaption" parameterType="applyRoom">
        update apply_room
        set caption = #{applyRoom.caption}
        where account = #{applyRoom.account};
    </update>

    <update id="updateStartTime">
        update apply_room
        set start_time = #{applyRoom.startTime}
        where account = #{applyRoom.account};
    </update>

    <update id="updateEndTime">
        update apply_room
        set end_time = #{applyRoom.endTime}
        where account = #{applyRoom.account};
    </update>

    <resultMap id="selectApplyRoom" type="com.activity.server.pojo.ApplyRoom">
            <result property="roomId" column="room_id"/>
            <result property="account" column="account"/>
            <result property="caption" column="caption"/>
            <result property="startTime" column="start_time"/>
            <result property="endTime" column="end_time"/>
    </resultMap>


</mapper>
