<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activity.server.mapper.CommentMapper">

    <insert id="addOne">
        insert into comment(account,time)
        values(#{comment.account},#{comment.time});
    </insert>

    <update id="updateName">
        update comment
        set name = #{comment.name}
        where account = #{comment.account} and time = #{comment.time};
    </update>
    <update id="updateContent">
        update comment
        set content = #{comment.content}
        where account = #{comment.account} and time = #{comment.time};
    </update>
    <update id="updateAvatarUrl">
        update comment
        set avatar_url = #{comment.avatarUrl}
        where account = #{comment.account} and time = #{comment.time};
    </update>
    <update id="updateDyId">
        update comment
        set dy_id = #{comment.dyId}
        where account = #{comment.account} and time = #{comment.time};
    </update>

    <select id="getAllComment" resultMap="selectComment">
        select account, avatar_url, content, time, name
        from dynamic
        where dy_id = #{dynamic.dyId}
        order by time desc;
    </select>

    <select id="getUserMessage" parameterType="java.util.List" resultMap="selectComment">
       select *
       from comment
       where dy_id in
       <foreach collection="list" index="index" item="item" open="("
            separator="," close=")">
            #{item}
       </foreach>
    </select>

    <resultMap id="selectComment" type="com.activity.server.pojo.Comment">
            <id property="commentId" column="comment_id"/>
            <result property="dyId" column="dy_id"/>
            <result property="account" column="account"/>
            <result property="avatarUrl" column="avatar_HAR"/>
            <result property="content" column="content"/>
            <result property="time" column="time"/>
    </resultMap>


</mapper>
