<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activity.server.mapper.CommentMapper">

    <resultMap id="selectComment" type="com.activity.server.pojo.Comment">
            <id property="commentId" column="comment_id"/>
            <result property="dyId" column="dy_id"/>
            <result property="account" column="account"/>
            <result property="avatarUrl" column="avatar_HAR"/>
            <result property="content" column="content"/>
            <result property="time" column="time"/>
    </resultMap>

</mapper>
