<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activity.server.mapper.UserMapper">


    <select id="getUser" resultMap="selectUser" parameterType="String">
        select
            user_id, account, name, gender, community
        from user
        where account = #{account};
    </select>

    <update id="updateAccount" parameterType="user">
        insert into user (account)
        values (#{user.account});
    </update>

    <update id="updateName" parameterType="user">
        update user
        set name = #{user.name}
        where account = #{user.account};
    </update>

    <update id="updateGender" parameterType="user">
        update user
        set gender = #{user.gender}
        where account = #{user.account};
    </update>

    <update id="updateCommunity" parameterType="user">
        update user
        set community = #{user.community}
        where account = #{user.account};
    </update>


    <resultMap id="selectUser" type="com.activity.server.pojo.User">
            <id property="userId" column="user_id"/>
            <result property="account" column="account"/>
            <result property="name" column="name"/>
            <result property="gender" column="gender"/>
            <result property="community" column="community"/>
            <result property="permission" column="permission"/>
    </resultMap>


</mapper>
